<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Dharmik_Dharmik>
            <version>0.0.3</version>
        </Dharmik_Dharmik>
    </modules>
    <global>
        <blocks>
            <dharmik>
                <class>Dharmik_Dharmik_Block</class>
            </dharmik>
        </blocks>
        <helpers>
            <dharmik>
                <class>Dharmik_Dharmik_Helper</class>
            </dharmik>
        </helpers>
        <models>
            <dharmik>
                <class>Dharmik_Dharmik_Model</class>
                <resourceModel>dharmik_resource</resourceModel>
            </dharmik>
            <dharmik_resource>
                <class>Dharmik_Dharmik_Model_Resource</class>
                <entities>
                    <dharmik>
                        <table>dharmik</table>
                    </dharmik>
                    <dharmik_datetime>
                        <table>dharmik_datetime</table>
                    </dharmik_datetime>
                    <dharmik_decimal>
                        <table>dharmik_decimal</table>
                    </dharmik_decimal>
                    <dharmik_int>
                        <table>dharmik_int</table>
                    </dharmik_int>
                    <dharmik_text>
                        <table>dharmik_text</table>
                    </dharmik_text>
                    <dharmik_varchar>
                        <table>dharmik_varchar</table>
                    </dharmik_varchar>
                    <dharmik_char>
                        <table>dharmik_char</table>
                    </dharmik_char>
                    <eav_attribute>
                        <table>dharmik_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </dharmik_resource>
        </models>
        <resources>
            <dharmik_setup>
                <setup>
                    <module>Dharmik_Dharmik</module>
                    <class>Dharmik_Dharmik_Model_Resource_Setup</class>
                </setup>
            </dharmik_setup>
        </resources>
    </global>
    <adminhtml>
        <menu>
            <dharmik>
                <title>Dharmik</title>
                <sort_order>120</sort_order>
                <children>
                    <dharmik>
                        <title>Manage Dharmik</title>
                        <sort_order>100</sort_order>
                        <action>dharmik/Adminhtml_Dharmik</action>
                    </dharmik>
                    <dharmik_attribute>
                        <title>Manage Attribute</title>
                        <sort_order>100</sort_order>
                        <action>dharmik/Adminhtml_Dharmik_Attribute</action>
                    </dharmik_attribute>
                    <dharmik_set>
                        <title>Manage Attribute set</title>
                        <sort_order>100</sort_order>
                        <action>dharmik/Adminhtml_Dharmik_Set</action>
                    </dharmik_set>
                </children>
            </dharmik>
        </menu>
        <layout>
            <updates>
                <dharmik>
                    <file>dharmik.xml</file>
                </dharmik>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <dharmik>
                <use>admin</use>
                <args>
                    <module>Dharmik_Dharmik</module>
                    <frontName>dharmik</frontName>
                </args>
            </dharmik>
        </routers>
    </admin>
</config>